employee/src/main/mule/employee.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="employee-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="employee-config" api="employee.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="employee-main">
        <http:listener config-ref="employee-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-config" />
    </flow>
    <flow name="put:\(Emp_id):application\json:employee-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="Emp_id">attributes.uriParams.'Emp_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "updated succesfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\(Emp_id):application\json:employee-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="Emp_id">attributes.uriParams.'Emp_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "deleted succesfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\employee:application\json:employee-config">
		<db:select doc:name="Select" doc:id="7cbafb7b-3a45-486c-8a75-046f023cae2a" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employee;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cf33ba87-155c-47a0-aad6-f864dd07483e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (payload,index)->
{
	Emp_id: payload.Emp_id as Number,
	First_name: payload.First_name as String,
	Last_name: payload.Last_name as String,
	Age: payload.Age as Number,
	Gender: payload.Gender,
	Salary:payload.Salary as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="post:\CreateEmployee:application\json:employee-config">
		<db:insert doc:name="Insert" doc:id="00079b27-1f5e-4600-bf16-7dd78388fc90" config-ref="Database_Config">
			<db:sql><![CDATA[insert into employee(First_name,Last_name,Age,Gender,Salary) values( :First_name,:Last_name,:Age,:Gender,:Salary);]]></db:sql>
				<db:input-parameters><![CDATA[#[{
	
	First_name: payload.First_name as String,
	Last_name: payload.Last_name as String,
	Age: payload.Age as Number,
	Gender: payload.Gender,
	Salary:payload.Salary as Number
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="9e28c91b-cede-493d-930f-cd9fb27e7b67">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
 message : "created succesfully"
 }   ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="get:\(Emp_id):application\json:employee-config">
		<flow-ref doc:name="Flow Reference" doc:id="52bfd71f-ff00-442a-bbc5-f9eddd330f3d" name="getEmployeeIdSub_Flow"/>
    </flow>
</mule>
