databaseexersice/target/META-INF/mule-src/databaseexersice/src/main/mule/databaseexersice-Q4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="databaseexersice-Q4Flow" doc:id="5b446bce-7482-4d98-92b3-bd8ba2e68210" >
		<http:listener doc:name="Listener" doc:id="464f63bb-6b2f-4f30-8dae-1e24ef9556df" config-ref="HTTP_Listener_config" path="/ifelse"/>
		<set-variable value="#[attributes.queryParams.num]" doc:name="Set Variable" doc:id="1d43c86c-fb57-4b0e-a7d9-dbaa7355e22d" variableName="num"/>
		<logger level="INFO" doc:name="Logger" doc:id="954a94c5-efd7-41d4-a95d-206b5e2451fb" message="show varibale:#[vars.num]"/>
		<ee:transform doc:name="Transform Message" doc:id="673691f6-c72f-471e-9ac1-a2637f450ca8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var num= vars.num as Number
output application/json
---
if (num <10)
{message:if(num==1) "num is 1" else "num is less than 10"}

else if (num == 10)
{message:"num is equal to 10"}

else{message:"num is greter than 10"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
