groupc/src/main/mule/groupc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9b477524-17ee-4446-b7a2-ab8974ca7f00" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="question1" doc:id="16a494d7-28e0-427b-974d-c61520a6e9e0" >
		<http:listener doc:name="Listener" doc:id="e594dbb3-7210-4ced-9f0d-f600388e32d7" config-ref="HTTP_Listener_config" path="/helloworld"/>
		<ee:transform doc:name="Transform Message" doc:id="2c084628-cbd1-41f3-9be1-ac29d172687b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"hello world"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="question2" doc:id="d823144a-ab99-4ee8-841f-4996187f6cf1" >
		<http:listener doc:name="Listener" doc:id="2f8c4ac6-442c-4e8a-9a11-a4b29eb13b60" config-ref="HTTP_Listener_config" path="/transform"/>
		<set-payload doc:name="Set Payload" doc:id="d32fe62b-297d-4d72-8f58-8b144324ff1d" value='#[attributes.queryParams.fname as String ++ " " ++ attributes.queryParams.lname as String ++  " your age is "  ++ attributes.queryParams.age as Number ++  " Thank you!"]'/>
	</flow>
	<flow name="question3" doc:id="18f6b05e-c1d6-42b1-9cc7-c26baaca89e2" >
		<http:listener doc:name="Listener" doc:id="bf22b03f-313c-4c5f-99e2-fd89b43c5ea7" config-ref="HTTP_Listener_config" path="transform1"/>
		<ee:transform doc:name="Transform Message" doc:id="2c36ef68-b504-41e1-b70e-0269aa768145">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload.*user map{
	Fname : $.Fname,
	Lname:$ .Lname,
	age:$.age,
    address:$.address,
    city:$.city,
    state:$.state,
    phoneno:$.phoneno
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="question4" doc:id="901b80dc-6709-417a-a97f-787eaae238b0" >
		<http:listener doc:name="Listener" doc:id="645b64f8-6b05-4bb6-9ec9-034cd35e77e8" config-ref="HTTP_Listener_config" path="transform2"/>
		<ee:transform doc:name="Transform Message" doc:id="7cb83276-5d81-4eea-a527-340ec587a3ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.*user map{
	Fname : $.Fname,
	Lname:$ .Lname,
	age:$.age,
    address:$.address,
    city:$.city,
    state:$.state,
    phoneno:$.phoneno
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b1efc9c1-c961-4dbe-a38a-0d6eb205d705" message="#[payload]" />
		<set-payload value="#[%dw 2.0
output application/json
---
payload]" doc:name="Set Payload" doc:id="9d48bd2a-bccd-4aa0-889b-85707f6094c1" />
	</flow>
	<flow name="question5" doc:id="66586dad-9582-4440-957f-3bb5f0c9fbaf" >
		<http:listener doc:name="Listener" doc:id="c28d1319-3b7f-48d2-8b49-676cd7022061" config-ref="HTTP_Listener_config" path="transformer3"/>
		<ee:transform doc:name="Transform Message" doc:id="7a77e01f-69a2-4104-8b47-177712d0d4b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
'This warring message']]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload doc:name="Set Payload" doc:id="248d6a36-36ab-4ae7-b3dd-0a2ec316575a" value='#[payload ++ attributes.queryParams.name as String]'/>
	</flow>
	<flow name="Question1" doc:id="0065edd5-a8bc-47d7-8e4b-1e41fad49176" >
		<http:listener doc:name="Listener" doc:id="aafa7f6e-bef3-4834-9339-8cfe93dea1ea" config-ref="HTTP_Listener_config" path="/Question2"/>
		<ee:transform doc:name="Transform Message" doc:id="c414b5bf-c052-438a-a0ae-6f9d88ff64f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"users":
payload.user map (payload ,indexOfPayload)	-> {
 user:{
 	ID: payload.id,
 	FIRSTNAME: payload.firstname ,
    MIDDLENAME: payload.middlename, 
    LASTNAME: payload .lastname,
    CITY: payload.city,
    CITY: payload.state,
    ADDRESS: payload.address,
    EMAIL:payload.email, 
  }
  }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Question2" doc:id="82f90083-afd9-4096-9dbb-0f613e2361f1">
		<http:listener doc:name="Listener" doc:id="c4c2133b-dcc4-42c4-8aaf-a976a2cdc2bc" config-ref="HTTP_Listener_config" path="/Question4" />
		<ee:transform doc:name="Transform Message" doc:id="b0433234-c464-4b0c-ac93-fba2a0573c82">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map{
	id : $.id,
	name :"ABC ->" ++ " " ++ $.itemname,
	code: "Q123 ->" ++ " " ++ $.itemcode,
	price:$.price as Number * 2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Question3" doc:id="ef4a91ec-b080-4e6d-a464-85789301c6a9">
		<http:listener doc:name="Listener" doc:id="3acc5ecd-c296-42c0-ae03-787ad5b039e7" config-ref="HTTP_Listener_config" path="transform8" />
		<ee:transform doc:name="Transform Message" doc:id="c071bb22-d7c9-41c0-995f-acbb3fb0ebe9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml

---

  List_of_Items: { 
  	(payload map (payload,index) ->{
      
      item @(id:payload.id, itemname:payload.itemname, itemcode:payload.itemcode, price: payload.price): null
      
      })
      
}
      
  
			
		
		
		
	
	
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Question4.1" doc:id="ff6e635c-3722-4fc2-a1eb-2641583b05a0" >
		<http:listener doc:name="Listener" doc:id="e3fe4cde-c39d-47d5-9ffe-e4c22eceeff3" config-ref="HTTP_Listener_config" path="Question4.1"/>
		<ee:transform doc:name="Transform Message" doc:id="11b3c292-c999-43cf-a47f-20c8ac03a4cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
"Allitems" : {(
payload map( (value,index)->
		item:
		value.id ++ "," ++ value.itemname ++ "," ++ value.itemcode ++ "," ++ value.price
		
	)
	)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Question4" doc:id="b5655d56-670d-4f29-a8ba-4aa5bb280a90" >
		<http:listener doc:name="Listener" doc:id="57b3d353-34c8-40e5-af3c-66a09bce6edb" config-ref="HTTP_Listener_config" path="/Question5"/>
		<ee:transform doc:name="Transform Message" doc:id="c2045138-5907-45b7-a1d3-503675297559" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map((value,index)->
		value.id ++ "," ++ value.itemname ++ "," ++ value.itemcode ++ "," ++ value.price
		
	)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Question5" doc:id="d990f9ca-6f7d-4aa2-84ec-5050a83ebfc1">
		<http:listener doc:name="Listener" doc:id="f185c2f4-2220-4cf1-8c93-eb6d36701152" config-ref="HTTP_Listener_config" path="/Question1" />
		<ee:transform doc:name="Transform Message" doc:id="5e323e7b-b4e6-41a5-99ca-8fe941fddfb8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.user map(value ,index) ->{(index) : value}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Question6" doc:id="fe500c84-ac81-4d92-af5f-e6edfc8b1d5b" >
		<http:listener doc:name="Listener" doc:id="fe4de4df-3550-4a6c-8418-5b91351533b9" config-ref="HTTP_Listener_config" path="/transform4"/>
		<ee:transform doc:name="Transform Message" doc:id="dcdd4d0e-c5a0-434e-a1de-2c254d8fd631" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.employeers.*employee.empAge

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Question7" doc:id="108ae345-c085-4833-9fee-fcea26f33269" >
		<http:listener doc:name="Listener" doc:id="23f6a755-bfee-462b-9488-de8a6b95ac35" config-ref="HTTP_Listener_config" path="transform7"/>
		<ee:transform doc:name="Transform Message" doc:id="d5656ee4-5981-4aff-b172-b7c7225a1641" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.employeers.*employee map{
	"employee Name" : $.empName,
	"employee Age" : $.empAge,
	"employee Salary": $.empSalary ,
	"employee company": attributes.queryParams.company
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>

