databaseexersice/src/main/mule/deatabaseexersice-Q3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="435b33ba-eefa-4936-8435-a997ecddb53f" >
		<ftp:connection host="localhost"/>
	</ftp:config>
	<flow name="deatabaseexersice-Q3Flow" doc:id="8b128541-fa91-477c-9f95-f9c9b0b7871f" >
		<http:listener doc:name="Listener" doc:id="3a41b834-da76-4ad1-885c-1b797c54d86f" config-ref="HTTP_Listener_config" path="/write"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="3ec0ed83-a43f-405b-a144-57914690a3a4" >
			<route >
				<db:select doc:name="orders( amount &gt; 5000)" doc:id="641484f3-c13f-4b36-8ffc-3f07dcc1edab" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM craftshopping.orders
where  (amount != " " AND amount > 5000)
ORDER BY status
]]></db:sql>
		</db:select>
			</route>
			<route >
				<db:select doc:name="orders (amount&lt;5000)" doc:id="600bcbb5-f78e-4af2-b3ea-c860bfe3ffc6" config-ref="Database_Config">
					<db:sql ><![CDATA[SELECT * FROM craftshopping.orders
where  (amount !=" " AND amount < 5000)
ORDER BY status]]></db:sql>
				</db:select>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="361b0f40-52d7-47f6-b344-884edb5bd3a6">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload..payload)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<file:write doc:name="Write" doc:id="81044e08-8d27-4d3f-bc4a-ee4e3db5b251" path="C:\Users\yoweg\Desktop\DW EXERCISE\output-for-orders.txt" mode="APPEND"/>
	</flow>
</mule>
