2ndassignment/src/main/mule/Question3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="4abe1d00-a7f2-4546-8aae-aee00bd739f3" >
		<file:connection workingDir="C:\file" />
	</file:config>
	<sub-flow name="amountgreaterthan5000" doc:id="dc987149-6b0b-4aa3-bdae-2736d3432ef3" >
		<db:select doc:name="Select" doc:id="006187e1-d48d-4654-b439-3511478022f3" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from orders]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="6e1a9476-394c-4a0d-8814-ff8b073e6601" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map{
	orderid : $.orderid,
	userid : $.userid,
	addressid : $.addressid,
	discountid : $.discountid,
	created: $.created,
	modified : $.modified,
	status: $.status,
	amount:  $.amount 
}filter $.amount > 5000 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="31fe4238-04cb-47b7-a883-c9f33ef08f95" config-ref="File_Config" path="C:\file\amount that is greater than 5000.txt" mode="APPEND"/>
	</sub-flow>
	<sub-flow name="amountlessthan5000" doc:id="1f6e73eb-f3e7-47d6-aae2-9fb4e4500898" >
		<db:select doc:name="Select" doc:id="b2aa0d25-1451-46fb-ac49-15c2bb17f56e" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from orders]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="22f37799-f994-426f-9499-36a113deef04" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map{
	orderid : $.orderid,
	userid : $.userid,
	addressid : $.addressid,
	discountid : $.discountid,
	created: $.created,
	modified : $.modified,
	status: $.status,
	amount:  $.amount default 0
}filter $.amount < 5000 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="30fd55b6-cff7-45bb-9c8e-e6ff953bec47" config-ref="File_Config" path="C:\file\amount that is less than 5000.txt"/>
	</sub-flow>
	<flow name="Question3Flow" doc:id="2db0a286-7139-46e1-b402-93f3a39681a4" >
		<http:listener doc:name="Listener" doc:id="30edb2e9-5b6c-4721-9608-c9e3e5833c77" config-ref="HTTP_Listener_config" path="question3"/>
		<choice doc:name="Choice" doc:id="080f9d61-bb35-493b-95ea-92f867f65d39" >
			<when expression="#[attributes.queryParams.amount =='greater']">
				<flow-ref doc:name="amountgreaterthan5000" doc:id="b7d79319-3ed9-4de4-9178-f47a117a7ed8" name="amountgreaterthan5000"/>
			</when>
			<when expression="#[attributes.queryParams.amount=='lesser']">
				<flow-ref doc:name="amountlessthan5000" doc:id="2055863e-5e45-408b-823b-aceab44e9dbb" name="amountlessthan5000"/>
			</when>
		</choice>
	</flow>
</mule>
