craft_helloworld/src/main/mule/craft_helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6d2b64b1-b5fb-43b7-8b98-f8119eaab21f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="craft-helloworldFlow" doc:id="dcb6dc13-563c-4a58-844e-d7081cf6d3f6" >
		<http:listener doc:name="Listener" doc:id="5eaf2296-5006-4b25-b52d-be34287cfce4" config-ref="HTTP_Listener_config" path="/demo"/>
		<remove-variable doc:name="Remove Variable" doc:id="479064c9-57e7-4a59-ab03-1c423293b365" variableName="var1" />
		<set-variable value="800" doc:name="Set Variable" doc:id="697a10f3-a7de-4888-a133-ec17fd580de7" variableName="var1" />
		<set-variable value="100" doc:name="Set Variable" doc:id="e11b6e76-ba23-441f-be61-7623f5701c9c" variableName="var2" />
		<set-payload value="#[vars.var1  ++ vars.var2]" doc:name="Set Payload" doc:id="cee2c020-c4b5-4623-8693-6dec12759e10" />
	</flow>
	<flow name="craft_helloworldFlow" doc:id="b812334d-426e-4990-85a9-78a95493d83d" >
		<http:listener doc:name="Listener" doc:id="1670703c-3a6e-4e25-93c6-ed0512a9f230" config-ref="HTTP_Listener_config" path="/frew"/>
		<ee:transform doc:name="Transform Message" doc:id="c0e4ea86-2cb5-465a-b8eb-abf629ed6932" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var aName =attributes.queryParams.Name

---
{}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="craft_helloworldFlow2" doc:id="0198f682-79fa-4113-ad73-f58ffcdd6fdc" >
	</flow>
	<flow name="craft_helloworldFlow1" doc:id="63877cb9-f0a6-4428-a6c4-0a94c08a2f94" >
		<http:listener doc:name="Listener" doc:id="a8dd3c99-f646-4c01-aa86-f75cdbcf9af9" config-ref="HTTP_Listener_config" path="/exercise"/>
		<set-variable value="hello world" doc:name="Set Variable" doc:id="122b8cf9-2d67-4c6c-9e45-20746b63e422" variableName="user"/>
		<set-payload value="#[vars.user]" doc:name="Set Payload" doc:id="f558fcc6-bac3-4ae8-be88-873e85ae0bb0" />
	</flow>
	<flow name="craft_helloworldFlow3" doc:id="341ead15-5c2c-4868-a922-8d2592093f66" >
		<http:listener doc:name="Listener" doc:id="9fc2c779-4c77-4469-a566-0d5e1ca027db" config-ref="HTTP_Listener_config" path="/exercise2"/>
	</flow>
</mule>
